.card {
  width: fit-content;
  padding: 2em;
  margin: 2em;
}

.circles {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.circle1 {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 3px dashed #5865a7;
}
.progressBar {
  grid-column: 1/2;
  grid-row: 1/2;
}
.circle2 {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #189eff;
}
.circle3 {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #f2f9ff;
  text-align: center;
}
.number {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2.6em;
  font-weight: bold;
  color: #1f2129;
}

.slider {
  margin-top: 3em;
  padding: 1em;
}

/* circulur progress bar svg */
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #363e66;
}

.circle-progress {
  stroke: #dee8ef;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Responsive */
@media screen and (max-width: 560px) {
  .card {
    width: fit-content;
    padding: 1em;
    margin: 1em;
  }

  .circle1 {
    width: 15em;
    height: 15em;
  }

  .slider {
    margin-top: 3em;
  }

  /* circulur progress bar svg */
  #progressInput {
    margin: 10px auto;
    width: 30%;
  }
}
