html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f9ff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  height: 100%;
  margin: 0;
  padding: 6em;
}
.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
